@tailwind base;
@tailwind components;
@tailwind utilities;

.tabla {
	width: 100%;
	margin: 10px;
	overflow-y: scroll;
	border-radius: 5px;
}

.tabla td,
.tabla th {
	padding: 8px;
	border: 1px solid #ddd;
}

.tabla th {
	--tw-bg-opacity: 0.8;
	background-color: rgba(21, 0, 96, var(--tw-bg-opacity));
	/*background-color: #0e62b1;*/
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	font-size: larger;
}

.tabla tr:nth-child(even) {
	--tw-bg-opacity: 1;
	background-color: rgba(239, 246, 255, var(--tw-bg-opacity));
}

.tabla tr:nth-child(odd) {
	--tw-bg-opacity: 0.5;
	background-color: rgba(234, 220, 218, var(--tw-bg-opacity));
	color:#000;
	text-shadow: #000;
}

.tabla tr:hover {
	--tw-bg-opacity: 0.2;
	background-color: rgba(21, 0, 96, var(--tw-bg-opacity));
	/* background-color: rgb(96, 165, 250); */
	cursor: pointer;
	color: #fff;
}

.select {
	color: #000;
}

.menu{
	--tw-bg-opacity: 0.5;
	background-color: rgba(198, 183, 255, var(--tw-bg-opacity));
}

.login {
	background: url(../media/login.jpg);
	background-size: 100% 100%;
}

.musuarios {
	background: url(../media/musuarios.jpg);
	background-size: 100% 100%;
}

.mventas {
	background: url(../media/mventas.jpg);
	background-size: 100% 100%;
}

.mproductos {
	background: url(../media/mproductos.jpg);
	background-size: 100% 100%;
}

.productos {
	background: url(../media/productos.jpg);
	background-size: 100% 100%;
}

.ventas {
	background: url(../media/ventas.jpg);
	background-size: 100% 100%;
}

.opaco{
	--tw-bg-opacity: 0.5;
	background-color: rgba(21, 0, 96, var(--tw-bg-opacity));
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
}

.opaco1{
	--tw-bg-opacity: 0.2;
	background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
	border-radius: 5px;
	padding: 20px;
	margin: 20px;

}